

.det{
	width: 90%; 
	text-align: center; 
	background: white; 
	margin: 5%;
	padding-bottom: 2%;
	border-radius: 3px; 
	box-shadow: 1px 1px 15px black;
	justify-content: center;
	background-image: url(/proyecto_final/webroot/img/lobo2.png);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
article
{
	text-align: center; 
	font-size: 30px;
	font-family: lustra;
	background-color: rgba(255,255,255,.8);
	width: 60%;
	margin-left: 20%;
	padding-top: 3%;
	/*margin-top: 10%;*/
	/*transform: translateX(50%);*/
}
h2.contit
{

 	text-align: center; 
	font-size: 70px;
	font-family: lustra;


}
p.let
{
	justify-content: center; 
	text-align: justify;
	margin: 20px auto;
}



.limpiar
{
	clear: both;
}
/*-------Responsive*/
@media all and (max-width: 1024px)
{


article
{
	text-align: center; 
	font-size: 20px;
	font-family: lustra;
	background-color: rgba(255,255,255,.8);
	width: 60%;
	margin-left: 20%;
	padding-top: 3%;
	/*margin-top: 10%;*/
	/*transform: translateX(50%);*/
}
h2.contit
{

 	text-align: center; 
	font-size: 40px;
	font-family: lustra;


}
p.let
{
	justify-content: center; 
	text-align: justify;
	margin: 20px auto;
}

.limpiar
{
	clear: both;
}
}
/*--------768*/
@media screen and (max-width: 768px)
{


@media all and (max-width: 1024px)
{


article
{
	text-align: center; 
	font-size: 20px;
	font-family: lustra;
	background-color: rgba(255,255,255,.8);
	width: 60%;
	margin-left: 20%;
	padding-top: 3%;
	/*margin-top: 10%;*/
	/*transform: translateX(50%);*/
}
h2.contit
{

 	text-align: center; 
	font-size: 40px;
	font-family: lustra;


}
p.let
{
	justify-content: center; 
	text-align: justify;
	margin: 20px auto;
}

.limpiar
{
	clear: both;
}
}
}