/*-----Vista detalle---*/
.det{
	width: 90%; 
	height: auto; 
	text-align: center; 
	background: white; 
	float: left; 
	margin: 5%; 
	border-radius: 3px; 
	box-shadow: 1px 1px 15px black;
	justify-content: center;
}
.detUsuario
{
	font-size: 40px;
}

.cont
{	
	width: 100%;
	height: auto;
	text-align: center;

}
.cont img
{
	padding-top: 10px;
   	background-size: cover; 
	background-position: center; 
	width: 100%; 
	border-radius: 3px 3px 0 0;
}
.detTitulo
{
 	text-align: center; 
	padding-top: 20px; 
	font-family: Arial;  
	height: 30%; 
	padding-top: 25px; 
	box-sizing: border-box;
	font-size: 40px;
	font-family: lustra;
}

.contenido
{	
	justify-content: center;
	text-align: center; 
    font-size: 20px;
    padding: 20px;
    font-family: lustra;

}