
main div.content
{
	max-width: 65%;
	margin: auto;
	padding: 40px 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

main div.card
{
	width: 300px;
	height: 390px;
	padding: 10px;
	border-radius: 3px;
	background-color: white;
	cursor: pointer;
	margin-bottom: 10px;
	top: 0;
	left: 0;
	transition: all .2s;
	position: relative;
}
main a
{
	text-decoration: none;
	color: black;
}
main div.card:hover
{
	top: -5px;
	left: -5px;
	box-shadow: 2px 2px 2px black;
}

main div.card>div.image_card
{
	height: 60%;
	background-image: url(../img/ffxv.jpg);
	background-size: cover;
	background-position: center;
}

main div.card>h2
{
	text-align: center;
	font-size: 20px;
}

.loading
{
	text-align: center;
}

.loading>img
{
	display: none;
}

p.nomore
{
	text-align: center;
}

span.more
{
	display: block;
    width: 120px;
    padding: 5px 14px;
    margin: 10px auto 40px;
    text-decoration: none;
    color: black;
    background-color: lightblue;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
}
.ordenar
{
    margin-top: 3%;
    margin-left: 20%;
}

