*{
	margin: 0;
	box-sizing: border-box;
}
body, html{
	height: 100%;
	font-family: 'Cousine', monospace;
	font-size: 18px;
}
body{
  	display: flex;
  	flex-direction: column;
}
main{
  	flex: 1 0 auto;
  	text-align: center;
}
header{
	padding: 20px;
	border-bottom: 1px solid black;
}
footer{
	padding: 20px;
	text-align: center;
	border-top: 1px solid black;
}